.section-1 {
    height: 600px;
    background-image: url("../assets/img/fondo-search.jpg") ; 
    background-size: 100% 100%;
}
.contenedor-search h2 {
    color: orange;
    font-size: 60px;
    text-align: center;
    padding-top: 230px;
}
.contenedor-search p {
    font-size: 30px;
    color: white;
    text-align: center;
}

.barra-busqueda {
    display: flex;
    flex-direction: column;
  }
  
.search {
    font-size: 20px;
    padding-left: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
    width: 30%;
    height: 40px;
}
.botton-buscador {
    font-size: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    border-radius: 15px;
}
//SECCION 2
hr {
    height: 20px;
}
.titulo-1 {
    color: $azul;
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}
.contenedor-jugadores {
    justify-content: center;
}
.card-players {
    border: 1px solid rgb(207, 206, 206);
}
.card-players ul {
    font-size: 25px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.card-players img {
    padding-left: 25px;
}
.card-players h1{
    text-align: center;
    margin-top: 20px;
}
.card-players ul p {
    color: rgb(247, 160, 0);
}