.section-1 {
    height: 600px;
    background-image: url("../assets/img/fondo-search.jpg") ; 
    background-size: 100% 100%;
}
.contenedor-search h2 {
    color: orange;
    font-size: 60px;
    text-align: center;
    padding-top: 230px;
}
.contenedor-search p {
    font-size: 30px;
    color: white;
    text-align: center;
}

.barra-busqueda {
    display: flex;
    flex-direction: column;
  }
  
.search {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding-left: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
    width: 30%;
    height: 50px;
    border-color: transparent;
    background-color: rgb(226, 225, 225);
}
.botton-buscador {
    font-size: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 180px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    position: relative;
    overflow: hidden;
}
.botton-buscador::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(252, 186, 64);
    position: absolute;
    z-index: 1;
    right: 0;
    top: -80px;
    transition: .3s ease-in-out;
}
.botton-buscador:hover::after {
    top: 0;
}
.botton-buscador span {
    position: relative;
    z-index: 2;
    transition: .3s all ease;
}
//SECCION 2
hr {
    height: 20px;
}
.titulo-1 {
    color: $azul;
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}
.contenedor-jugadores {
    justify-content: center;
}
.card-players {
    border: 1px solid rgb(207, 206, 206);
}
.card-players ul {
    font-size: 25px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.card-players img {
    width: 100%;
    
}
.card-players h1{
    text-align: center;
    margin-top: 30px;
}
.card-players ul p {
    color: rgb(247, 160, 0);
}
.titulo-2 {
    color: $azul;
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}
.card-teams {
    border: 1px solid rgb(207, 206, 206);
}
.card-teams h1 {
    padding-top: 20px;
    text-align: center;
}
.card-teams h3 {
    text-align: center;
}
.card-teams p {
    text-align: center;
    font-size: 40px;
}
.card-teams img {
    padding-top: 20px;
    padding-left: 80px;
    width: 80%;
}
.contenedor-teams {
    justify-content: center;
}

.card-teams_jugadores {
    display: grid;
    font-size: 20px;
    grid-template-columns: auto auto;
}
.team-info {
    text-align: center;
    
}
.team-info p {
    padding-top: 10px;
    text-align: center;
    font-size: 35px;
}

